<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>NotFound</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Error 404 Not Found</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content style="text-align: center;">

  <div style="display: block; align-content: center;">
    <h1>La página buscada no existe</h1>
    <ion-button [routerLink]="['/home']">Ir a home</ion-button>
  </div>
  
</ion-content>
