<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close" color="dark"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <form>
      <ion-item lines="none">
        <ion-label >Correo electrónico</ion-label>
      </ion-item>
      <ion-item >
        <ion-input type="email" [(ngModel)]="correo" name="correo"></ion-input>
      </ion-item> <br>
      <ion-button expand="full" id="open-modal">Enviar Correo de Recuperación</ion-button>
    </form>
  </div>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Recuperar Contraseña</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="modal.dismiss()"><ion-icon name="close" color="dark"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div class="ion-padding" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
          <ion-icon name="checkmark-circle" style="font-size: 100px; color: green;"></ion-icon>
          <h1>Correo enviado</h1>
          <p>Hemos enviado a tu bandeja de correo un link para confirmar la recuperación de tu cuenta.</p>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
