<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close" color="dark"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <form [formGroup]="formRecuperar" >
      <ion-item lines="none">
        <ion-label>Correo electrónico</ion-label>
      </ion-item>
      <ion-item >
        <ion-input type="email" formControlName="correoRecup"></ion-input>
      </ion-item>
      <div *ngIf="formRecuperar.get('correoRecup')?.invalid && formRecuperar?.get('correoRecup')?.touched">
        <ion-text color="danger">
          <p *ngIf="formRecuperar.get('correoRecup')?.errors?.['required']">El correo es requerido.</p>
          <p *ngIf="formRecuperar.get('correoRecup')?.errors?.['pattern']">Formato de correo inválido.</p>
        </ion-text>
      </div><br>
      <ion-button expand="full" type="submit" [disabled]="formRecuperar.invalid" id="open-modal">Enviar correo de recuperación</ion-button>
    </form>
  </div>

  <ion-modal #modal trigger="open-modal">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <ion-title>Recuperar Contraseña</ion-title>
          <ion-buttons slot="end">
            <ion-button color="light" (click)="aceptar()"><ion-icon name="close" color="dark"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
        <div class="ion-padding" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;">
          <ion-icon name="checkmark-circle" style="font-size: 100px; color: green;"></ion-icon>
          <h1>Correo enviado</h1>
          <p>Hemos enviado a tu bandeja de correo un link para confirmar la recuperación de tu cuenta.</p>
          <ion-button expand="block" color="primary" (click)="aceptar()">Aceptar</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
