<ion-header>
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close" color="dark"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <form [formGroup]="formRecuperar" (ngSubmit)="recuperarPassword()">
      <ion-item lines="none">
        <ion-label>Correo electrónico</ion-label>
      </ion-item>
      <ion-item >
        <ion-input type="email" formControlName="correoRecup"></ion-input>
      </ion-item>
      <div *ngIf="formRecuperar.get('correoRecup')?.invalid && formRecuperar?.get('correoRecup')?.touched">
        <ion-text color="danger">
          <p *ngIf="formRecuperar.get('correoRecup')?.errors?.['required']">El correo es requerido.</p>
          <p *ngIf="formRecuperar.get('correoRecup')?.errors?.['pattern']">Formato de correo inválido.</p>
        </ion-text>
      </div><br>
      <ion-button expand="full" type="submit" [disabled]="formRecuperar.invalid">Enviar correo de recuperación</ion-button>
    </form>
  </div>

</ion-content>
