ion-item {
    
    border-radius: 50px;
    height: 55px;
    box-shadow: 1px 4px 4px 0px #90d4f4e7;
    --highlight-height: 0px;
    background-color: #FFFFFF;



    ion-input{  /*Configuracion de las letras de los input de la APP*/
        font-size: 18px;
        --padding-top: 20px;
        --padding-bottom: 15px;
        --padding-start: 5px;
        color: #000000;
        --background-color: #ffffff;

    }
    a{
        font-size: 17px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }  
}


