#map {
    width: 100%;
    height: 100vh; /* O puedes usar un tamaño fijo como '400px' dependiendo del diseño */
  }
  
  .show-map {
    display: block; /* Asegúrate de que esté visible cuando el mapa esté cargado */
  }
  