<ion-menu contentId="main-content" id="menu" >
  <ion-header translucent="true">
    <ion-toolbar>
      <ion-title>
        <div style="display: flex; align-items: center; gap: 10px;">
          <img src="../../assets/icon/icono2.png" style="width: 50px;" />
          <span style="font-size: 17px; text-align: left; color: var(--ion-text-color);">
            Menu
          </span>
        </div>
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button>
          <ion-icon name="close" color="light"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding" style="--background: white" fullscreen="true">
    <div id="map"></div>
    <ion-list lines="full">
      <ion-item style="font-size: large; margin-bottom: 15px;">
        <ion-icon aria-hidden="false" slot="start" name="person-circle-outline" size="large"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
        <ion-icon name="notifications-circle-outline" slot="end" size="large"></ion-icon>
      </ion-item>
    </ion-list><br>
    <ion-list lines="none" style="display: flex; flex-direction: column; height: 85%">
      <ion-item style="font-size: large; margin-bottom: 5px;"  routerLink="/buscar-servicio">
        <ion-icon aria-hidden="false" slot="start" name="locate-outline" size="medium"></ion-icon>
        <ion-label>Buscar Servicios</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;"  (click)="irAMapa()">
        <ion-icon aria-hidden="false" slot="start" name="map-sharp" size="medium"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;" (click)="savedLocations()">
        <ion-icon aria-hidden="false" slot="start" name="bookmark-outline" size="medium"></ion-icon>
        <ion-label>Ubicaciones guardadas</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;" (click)="settings()">
        <ion-icon aria-hidden="false" slot="start" name="settings-outline" size="medium"></ion-icon>
        <ion-label>Configuraciones</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;" (click)="terminos()">
        <ion-icon aria-hidden="false" slot="start" name="information-circle" size="medium"></ion-icon>
        <ion-label>Términos y condiciones</ion-label>
      </ion-item>
        <ion-button color="danger" slot="end" style="margin-top: auto;" (click)="logout()">
          <ion-icon aria-hidden="false" size="large" slot="start" name="log-out-outline" size="medium"></ion-icon>Cerrar sesión
        </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title color="light">
        <div style="display: flex; text-align: center;">
          <span style="font-size: 30px;">ServiceSeek</span>
        </div>
      </ion-title>
      <ion-button slot="end" [routerLink]="['/home']">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <!-- Icono de usuario -->
    <div class="user-profile">
      <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
      <h2>Nombre Usuario</h2>
    </div>
  
    <!-- Lista de datos del usuario -->
    <ion-list lines="full" class="profile-list">
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-text>{{ user.email }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Teléfono</ion-label>
        <ion-text>{{ user.phone }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Dirección</ion-label>
        <ion-text>{{ user.address }}</ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de Registro</ion-label>
        <ion-text>{{ user.registrationDate }}</ion-text>
      </ion-item>
    </ion-list>
  
    <!-- Botón para modificar datos -->
    <div class="btn-container">
      <ion-button expand="block" color="primary" (click)="modifyUserData()">Modificar Datos</ion-button>
    </div>
  </ion-content>
  
</div>
