<ion-header>
  <ion-toolbar>
    <ion-title>Registrate</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formularioRegistro" (ngSubmit)="register()">
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <div *ngIf="formularioRegistro?.get('nombre')?.invalid && formularioRegistro?.get('nombre')?.touched">
      <p>El nombre es requerido</p>
    </div>
    
    
    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-input type="text" formControlName="apellidos"></ion-input>
    </ion-item>
    <div *ngIf="formularioRegistro.get('apellidos')?.invalid && formularioRegistro?.get('apellidos')?.touched">
      <p>Los apellidos son requeridos</p>
    </div>
    
    <ion-item>
      <ion-label>Correo Electrónico</ion-label>
      <ion-input type="email" formControlName="correo"></ion-input>
    </ion-item>
    <div *ngIf="formularioRegistro.get('correo')?.invalid && formularioRegistro?.get('correo')?.touched">
      <ion-text color="danger">
        <p *ngIf="formularioRegistro.get('correo')?.errors?.['required']">El correo es requerido.</p>
        <p *ngIf="formularioRegistro.get('correo')?.errors?.['email']">Formato de correo inválido.</p>
      </ion-text>
    </div>
    
    <ion-item>
      <ion-label>Fecha de Nacimiento</ion-label>
      <ion-button (click)="openDatePicker()" fill="outline">Seleccionar Fecha</ion-button>
      <span *ngIf="formularioRegistro.get('fechaNacimiento')?.value">
        {{ formularioRegistro.get('fechaNacimiento')?.value | date: 'dd/MM/yyyy' }}
      </span>
    </ion-item>
    <div *ngIf="formularioRegistro.get('fechaNacimiento')?.invalid && formularioRegistro?.get('fechaNacimiento')?.touched">
      <p>La fecha de nacimiento es requerida</p>
    </div>

    <ion-button expand="full" type="submit" [disabled]="formularioRegistro.invalid">Registrarse</ion-button>
  </form>
</ion-content>
