/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/*@import "@ionic/angular/css/palettes/dark.always.css";*/ 
@import "@ionic/angular/css/palettes/dark.class.css"; 
/*@import "@ionic/angular/css/palettes/dark.system.css";*/

:root {
  --ion-background-color: #ffffff;
  --ion-text-color: #000000;
}

[data-theme="dark"] {
  --ion-background-color: #121212;
  --ion-text-color: #ffffff;
}


/* Estilos generales para los modales */
ion-modal {
  --height: 70%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

/* Estilos específicos para el modal de bienvenida (con el id #bienvenido) */
#bienvenido {
  --height: 34%; /* Ajusta la altura del modal de bienvenida */
  --border-radius: 20px; /* Personaliza los bordes redondeados */
  --box-shadow: 0 15px 20px -3px rgb(0 0 0 / 0.2), 0 5px 8px -4px rgb(0 0 0 / 0.15); /* Cambia la sombra */
}
#formRecuperar {
  --height: 34%; /* Ajusta la altura del modal de bienvenida */
  --border-radius: 20px; /* Personaliza los bordes redondeados */
  --box-shadow: 0 15px 20px -3px rgb(0 0 0 / 0.2), 0 5px 8px -4px rgb(0 0 0 / 0.15); /* Cambia la sombra */
}

#bienvenido::part(backdrop) {
  background: rgba(0, 0, 0, 0.5); /* Cambia el color del fondo cuando el modal está abierto */
  opacity: 100;
}

#bienvenido ion-toolbar {
  --background: rgb(34 193 195); /* Cambia el color del toolbar del modal de bienvenida */
  --color: white;
}

  
ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}
