<ion-menu contentId="main-content" id="menu" >
  <ion-header translucent="true">
    <ion-toolbar>
      <ion-title>
        <ion-title color="light">
          <div style="display: flex; text-align: left;">
            <span style="font-size: 17px;">Menu</span>
          </div>  
        </ion-title>
          <img src="../../assets/icon/icono2.png" style="width: 50px;">
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button>
          <ion-icon name="close" color="light"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" style="--background: white" fullscreen="true">
    <div id="map"></div>
    <ion-list lines="full">
      <ion-item style="font-size: large; margin-bottom: 15px;" (click)="profile()">
        <ion-icon aria-hidden="false" slot="start" name="person-circle-outline" size="large"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
        <ion-icon name="notifications-circle-outline" slot="end" size="large"></ion-icon>
      </ion-item>
    </ion-list><br>
    <ion-list lines="none" style="display: flex; flex-direction: column; height: 85%">
      <ion-item style="font-size: large; margin-bottom: 5px;"  routerLink="/buscar-servicio">
        <ion-icon aria-hidden="false" slot="start" name="locate-outline" size="medium"></ion-icon>
        <ion-label>Buscar Servicios</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;"  (click)="irAMapa()">
        <ion-icon aria-hidden="false" slot="start" name="map-sharp" size="medium"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;" (click)="savedLocations()">
        <ion-icon aria-hidden="false" slot="start" name="bookmark-outline" size="medium"></ion-icon>
        <ion-label>Ubicaciones guardadas</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;" (click)="settings()">
        <ion-icon aria-hidden="false" slot="start" name="settings-outline" size="medium"></ion-icon>
        <ion-label>Configuraciones</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;" (click)="terminos()">
        <ion-icon aria-hidden="false" slot="start" name="information-circle" size="medium"></ion-icon>
        <ion-label>Términos y condiciones</ion-label>
      </ion-item>
        <ion-button color="danger" slot="end" style="margin-top: auto;" (click)="logout()">
          <ion-icon aria-hidden="false" size="large" slot="start" name="log-out-outline" size="medium"></ion-icon>Cerrar sesión
        </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-title color="light">
        <div style="display: flex; text-align: center;">
          <span style="font-size: 30px;">ServiceSeek</span>
        </div>
      </ion-title>
      <ion-button (click)="cargarPagina()" slot="end">
        <ion-icon name="reload-outline" color="white"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding"></ion-content>

</div>

<ion-modal [isOpen]="isModalOpen" id="bienvenido">
  <ng-template>
    <ion-content>
      <ion-toolbar>
        <ion-title style="font-size: xx-large;">ServiceSeek</ion-title>
        <ion-buttons slot="end">
          <ion-button color="light" (click)="closeModal()"><ion-icon name="close" color="dark"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
      <div class="ion-padding" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <ion-icon name="checkmark-circle" style="font-size: 100px; color: green;"></ion-icon>
        <h1>¡Bienvenido {{navigationValue}}!</h1>
        <ion-button expand="block" color="primary" (click)="closeModal()">Aceptar</ion-button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal trigger="modal-trigger" #modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="logout()">Cerrar Sesión</ion-button>
        </ion-buttons>        
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding"> Modal Content </ion-content>
  </ng-template>
</ion-modal>