#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-toolbar { /*Barra superior*/
    --background: #f17961;
}

#bienvenido ion-content {
  --background: white; /* También aplicamos este estilo al ion-content dentro del modal */
}


ion-content { /*Contenido central de la app*/
  --background: url('/assets/icon/mapa_fondo.png') no-repeat center center / cover;
  
    #header {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-style: bold;

        h1 {
            font-weight: 700;
            font-size: 30px;
            color: #F17961;
            margin-bottom: 15%;
        }

        img {
            margin-top: -40px;
            width: 300px;
            height: 300px;
            /*border-radius: 50%;
            border: 5px solid #287078;*/
        }
    }
 
    #form { /*Formulario inicio de sesion*/

        margin-top: -450px;
        padding-left: 30px;
        padding-right: 30px;
        

    }   
    
    /*ion-button {
        background: #ffffff;   

        }*/
    
    ion-card { /*Card que puede ser aplicado en cualquier parte de la APP*/
        background: #e7eff6;
        margin-top: -250px;
        padding-left: 30px;
        padding-right: 30px;
    }

    
  ion-button-reset { /*Boton para recuperar clave*/
      --background: var(--ion-color-danger);
      
  }
}

