<ion-menu contentId="main-content" id="menu" >
  <ion-header translucent="true">
    <ion-toolbar>
      <ion-title>
        <ion-title color="light">
          <div style="display: flex; text-align: left;">
            <span style="font-size: 17px;">Menu</span>
          </div>  
        </ion-title>
          <img src="../../../../../assets/icon/icono2.png" style="width: 50px;">
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button>
          <ion-icon name="close" color="light"></ion-icon>
        </ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding" style="--background: white" fullscreen="true">
    <ion-list lines="full">
      <ion-item style="font-size: large; margin-bottom: 15px;">
        <ion-icon aria-hidden="true" slot="start" name="person-circle-outline" size="large"></ion-icon>
        <ion-label>Mi Perfil</ion-label>
        <ion-icon name="notifications-circle-outline" slot="end" size="large"></ion-icon>
      </ion-item>
    </ion-list><br>
    <ion-list lines="none" style="display: flex; flex-direction: column; height: 85%">
      <ion-item style="font-size: large; margin-bottom: 5px; background-color: black; border-radius: 15px;">
        <ion-icon aria-hidden="true" slot="start" name="locate-outline" size="medium"></ion-icon>
        <ion-label>Buscar Servicios</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;">
        <ion-icon aria-hidden="true" slot="start" name="map-sharp" size="medium"></ion-icon>
        <ion-label>Mapa</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;">
        <ion-icon aria-hidden="true" slot="start" name="bookmark-outline" size="medium"></ion-icon>
        <ion-label>Ubicaciones guardadas</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;">
        <ion-icon aria-hidden="true" slot="start" name="settings-outline" size="medium"></ion-icon>
        <ion-label>Configuraciones</ion-label>
      </ion-item>
      <ion-item style="font-size: large; margin-bottom: 5px;">
        <ion-icon aria-hidden="true" slot="start" name="information-circle" size="medium"></ion-icon>
        <ion-label>Términos y condiciones</ion-label>
      </ion-item>
        <ion-button color="danger" slot="end" style="margin-top: auto;" (click)="logout()">
          <ion-icon aria-hidden="true" size="large" slot="start" name="log-out-outline" size="medium"></ion-icon>Cerrar sesión
        </ion-button>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ion-button slot="end" (click)="volver()">
            <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title color="light">
        <div style="display: flex; text-align: center;">
          <span style="font-size: 30px;">ServiceSeek</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-header>
    <ion-toolbar>
      <ion-item [button]="false">
        <ion-button (click)="cargarPagina()" slot="end">Cargar reseñas</ion-button>
        <ion-icon color="danger" slot="start" name="stats-chart-outline" size="large"></ion-icon>
        <ion-title>Reseñas</ion-title>
      </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <img alt="Imagen de servicio" [src]="servicio?.foto" />
      <ion-card-header>
        <ion-card-subtitle>
          <ion-icon name="pin" color="danger"></ion-icon>
          {{ servicio.direccion }}
        </ion-card-subtitle>
        <ion-card-title>{{ servicio.nombre }}</ion-card-title>
        <ion-card-subtitle>
          <ion-icon name="star" color="warning"></ion-icon>
          {{ servicio.calificacion }} / 5
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="full">
          <ion-item>
            <ion-icon name="apps" slot="start"></ion-icon>
            <ion-label><strong>Categoría:</strong></ion-label>
            {{ servicio.tipo }}
          </ion-item>
          <ion-item>
            <ion-icon name="call" slot="start"></ion-icon>
            <ion-label><strong>Teléfono:</strong></ion-label>
            {{ servicio.telefono }}
          </ion-item>
          <ion-item>
            <ion-icon name="time" slot="start"></ion-icon>
            <ion-label><strong>Horario:</strong></ion-label>
            {{ servicio.horario }}
          </ion-item>
        </ion-list><br>
        {{ servicio.descripcion }}
      </ion-card-content>
    </ion-card>

    <div style="display: flex; justify-content: center; align-items: center;">
      <ion-button [routerLink]="['/add-resena', servicio.id]">
        <ion-icon name="add-circle-outline" style="margin-right: 5px;"></ion-icon>
          Escribir reseña
      </ion-button>
    </div>
  
    <!-- Botón dinámico para manejar favoritos -->
    <div style="display: flex; justify-content: center; align-items: center;">
      <ion-button (click)="toggleFavorito()" expand="block">
        <ion-icon [name]="esFavorito() ? 'heart' : 'heart-outline'" slot="start"></ion-icon>
        {{ esFavorito() ? 'Quitar de Favoritos' : 'Añadir a Favoritos' }}
      </ion-button>
    </div>
  
    <!-- Lista de reseñas -->
    <ion-list [inset]="true" *ngFor="let resena of resenas">
      <ion-item [button]="false" detail="false">
        <ion-label>
          <strong style="margin-right: 5px;">{{ resena.usuario }}</strong>
          <ion-text><h1>{{ resena.comentario }}</h1></ion-text>
          <ion-note color="medium">{{ resena.fecha }}</ion-note>
        </ion-label>
        <ion-note color="medium" class="ion-text-wrap"></ion-note>
        <div class="metadata-end-wrapper" slot="end">
          <ion-icon name="star" color="warning"></ion-icon>
          <span style="margin-left: 5px;">{{ resena.calificacion }}</span>  
        </div>
      </ion-item>
      <ion-item>
        <ion-button slot="end" color="tertiary" [routerLink]="['/upd-resena', resena.id]">Modificar</ion-button>
        <ion-button slot="end" color="danger" (click)="delResena(resena.id)">Eliminar</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</div>
  
